@import url('https://fonts.googleapis.com/css?family=Fira+Code:300,400,500,600,700&display=swap&subset=cyrillic');

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background: #222;
  color: #fff;
  font-family: 'Fira Code', monospace;

}

h1 {
  font-size: 150px;
}

div {
  /* border:1px solid red;
  margin:3px; */
}

p {
  font-size: 36px;
}
.maincontainer {

}

.slick-prev,
.slick-next {
    font-size: 0;
    position: absolute;
    bottom: 20px;
    color: #444;
    border: 0;
    background: none;
    z-index: 1;
}

.slick-prev {
  top:0;
    left: 20px;
}

.slick-prev:before {
	  content: "\f104";
    font: 40px/1 'FontAwesome';

}

.slick-next {
  top:0;
      right: 20px;
      text-align: right;
}

.slick-next:before {
	   content: "\f105";
     font: 40px/1 'FontAwesome';
}

.slick-prev:hover:before,
.slick-next:hover:before {
    color: #666;
}
.slick-next:focus, .slick-prev:focus {
  outline:none;
}

.single-item {
  height:100vh;

}
.slidecontent {
  display: flex;
  flex-flow: column;
  height:100vh;
}
.oncenter {
  align-items: center;
  justify-content: center;
}

.onright {
  align-items: flex-start;
  justify-content: flex-start;
}
.slide1 {
background-image: linear-gradient(to bottom, #434343 0%, black 100%);
}
